{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "indent": [ 2, 4, { "SwitchCase": 1 } ],
        "linebreak-style": [ 2, "unix" ],
        "no-unused-vars": [2, { "args": "none" }],
        "semi": [ 0 ],
        "quotes": [ 2, "single" ]
    }
}
